replicaCount: 1

image:
  repository: 182399705651.dkr.ecr.us-east-1.amazonaws.com/skyfire-api
  tag: "0.1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: nginx
  host: skyfire.local
  path: /

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"